<h1> Login</h1>
<%- messages() %>
<form action="" method="post">
    <fieldset>
        <legend>Login Form:</legend>
        <label for="account_email">Email</label><br>
        <input type="email" name="account_email" id="account_email" required placeholder="Enter a valid email address"><br>
        <label for="account_password">Password:</label><br>
        <input type="password" name="account_password" id="account_password" required><br>
        <button type="submit">Login</button><br>
        <p>No account? <a href="/account/registration">Sign-up</a></p>
    </fieldset>
</form>