<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<form>
    <legend>New Inventory</legend>
    <label for="classificationId">Classification</label>
    <%- classificationSelect %>
    <label for="invMake">Make</label>
    <input type="text" id="invMake" name="invMake" required>
    <label for="invModel">Model</label>
    <input type="text" id="invModel" name="invModel" required>
    <label for="invDescription">Description</label>
    <textarea id="invDescription" name="invDescription" required></textarea>
    <label for="invImage">Image URL</label>
    <input type="url" id="invImage" name="invImage" >
    <label for="invThumbnail">Thumbnail URL</label>
    <input type="url" id="invThumbnail" name="invThumbnail" >
    <label for="invPrice">Price</label>
    <input type="number" id="invPrice" name="invPrice" step="
0.01" required>
    <label for="invStock">Stock</label>
    <input type="number" id="invStock" name="invStock" required>
    <label for="invColor">Color</label>
    <input type="text" id="invColor" name="invColor" required>
    <button type="submit">Add Inventory</button>
</form>