<form>
    <legend>Add New Classification</legend>
    <label for="classificationName">Classification Name</label>
    <p>A new classification name cannot contain a space or special character of any kind</p>
    <input type="text" id="classificationName" name="classificationName" required>
    <button type="submit">Add Classification</button>
</form>